

<mat-card-title class="list-title" *ngIf="!isMyDiners || (isMyDiners && myEmailAddress != '')">{{ gridHeader }}</mat-card-title>

<div class="card">

<div id="mobile-diners">
        <div class="content">
            <div class="row">

    <div class="content table-responsive">
    <table class="table">
    <tbody>
    <ng-container *ngFor="let row of filteredData">
    <tr>
        <td *ngIf="isMyDiners"class="diner-row-cell">
            <a mat-mini-fab color="accent" (click)="openDialog(row)">
                <mat-icon>edit</mat-icon>
            </a>
        </td>
      <td class="diner-row-cell">
          {{row['forename']}} {{row['surname']}}
      </td>
      <td class="diner-row-cell text-right">
          {{ getCountMenuChoices(row) }} choices

      </td>
      <td class="diner-row-cell">
          <mat-icon *ngIf="!isExpanded(row)" (click)="expandRow(row)">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="isExpanded(row)" (click)="expandRow(row)">keyboard_arrow_up</mat-icon>
      </td>
    </tr>
    <tr *ngIf="isExpanded(row)">
        <td colspan="3">
          <div class="diner-menu-details">
            <div *ngFor="let column of menuChoiceColumns()" class="mobile-menu-section">
                <mat-list-item>
                    <h4 matLine class="diner-name"> {{column['name']}}
                        <div *ngIf="isMyDiners" class="add-menu-item">
                            <button mat-raised-button color="primary" (click)="addMenuItem(row, column)">
                              <mat-icon>add</mat-icon>
                            </button>
                          </div>
                    </h4>
                  </mat-list-item>
                  <div class="mat-padding" *ngIf="row[column.name] && row[column.name].length === 0" layout="row" layout-align="left center">
                      <p class="mat-subhead tc-grey-600 mobile-none-chosen">None chosen</p>
                    </div>
                    <div class="menu-choices" *ngIf="row[column.name] && row[column.name].length > 0" >
                        <ul class="meal-list-mobile">
                          <li *ngFor="let choice of row[column.name]">{{choice.name}}
                              <button *ngIf="isMyDiners" mat-icon-button (click)="deleteMenuItem(choice.id, row.id, column.name)"><mat-icon>delete</mat-icon></button>
                          </li>
                        </ul>
                    </div>
                  </div>
                </div>
        </td>
     </tr>
    </ng-container>
    </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>

<div id="desktop-diners">
<div *ngIf="filteredTotal > 0 && (myEmailAddress || !isMyDiners)" class="container-table">
  <div class="ver1">
    <table td-data-table style="width:100%;" cellspacing="0" cellpadding="0">
      <th *ngIf="isMyDiners" class="first-column"></th>
      <th td-data-table-column
         *ngFor="let column of _dataService.columns"
          [attr.name]="column.name"
          [attr.class]="column.class"
          [attr.sortable]="true"
          [attr.numeric]="false"
          (sortChange)="sort($event)">
          {{column.label}}
      </th>
      <ng-container *ngFor="let row of filteredData; let index=index; let odd=odd; let even=even;">
      <tr td-data-table-row  [ngClass]="{ odd: odd, even: even }">
        <td *ngIf="isMyDiners" class="first-column">
            <a mat-mini-fab color="accent" (click)="openDialog(row)">
                <mat-icon>edit</mat-icon>
            </a>
        </td>
        <td td-data-table-cell class="name-column">
          {{row['forename']}}  {{row['surname']}}
        </td>
        <td class="menu-choices" td-data-table-cell
         *ngFor="let column of menuChoiceColumns()" [attr.numeric]="column.numeric">
         <div class="menu-choices">
            <div *ngIf="isMyDiners" class="add-menu-item">
              <button mat-raised-button color="primary" (click)="addMenuItem(row, column)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          <div class="menu-choices">
          <ul>
            <li *ngFor="let choice of row[column.name]">{{choice.name}}
                <button *ngIf="isMyDiners" mat-icon-button (click)="deleteMenuItem(choice.id, row.id, column.name)"><mat-icon>delete</mat-icon></button>
            </li>
          </ul>
          </div>
        </div>
        </td>
      </tr>
    </ng-container>
    </table>
  </div>
    </div>



  <!-- <td-paging-bar #pagingBar [pageSizes]="[5, 10, 15, 20]" [total]="filteredTotal" (change)="page($event)">
    <span td-paging-bar-label hide-xs>Row per page:</span>
    {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
  </td-paging-bar> -->
</div>

<div class="mat-padding" *ngIf="filteredTotal == 0 && myEmailAddress" layout="row" layout-align="center center">
    <p class="mat-subhead tc-grey-600">{{ noResultsMessage }}</p>
  </div>
</div>
