<mat-card>
<mat-card-title layout="row" layout-align="start center">
  <span class="mat-title">{{title()}}</span></mat-card-title>
  <mat-card-subtitle>Fill form to update diner details</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content class="push-bottom-none">
    <td-dynamic-forms [elements]="textElements" #dinerForm>
      <ng-template let-element ngFor [ngForOf]="textElements">
        <ng-template let-control="control" [tdDynamicFormsError]="element.name">
          <span *ngIf="control.touched || !control.pristine">
            <span *ngIf="control.hasError('minlength')">Min length value: {{element.minLength}}</span>
            <span *ngIf="control.hasError('maxlength')">Max length value: {{element.minLength}}</span>
          </span>
        </ng-template>
      </ng-template>
    </td-dynamic-forms>
    <div layout="row">
      <mat-icon>information</mat-icon>The notes above are optional and are intended to describe any specific requirements a diner might have e.g. vegetarian, gluten free, wheelchair accessible etc.
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <div layout="row">
      <button mat-button color="primary" (click)="save()">SAVE</button>
      <button mat-button mat-button (click)="cancel()">CANCEL</button>
      <button mat-button mat-button (click)="delete()">DELETE</button>
    </div>
  </mat-card-actions>
</mat-card>
