  <mat-card tdMediaToggle="gt-xs">
  <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
    <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
      <span class="mat-title">List of diners</span>
      <a color="accent" mat-mini-fab  (click)="openDialog({})">
        <mat-icon>add</mat-icon>
    </a>
    </span>
    <span class="diners-count">Number of diners: {{ filteredTotal }}</span>
    <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
      <span *ngIf="selectedRows.length && selectable" class="mat-body-1">0 item(s) selected</span>
    </span>
    <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here" (searchDebounce)="search($event)" flex>
    </td-search-box>
  </div>
  <mat-divider></mat-divider>
        <div class="container-table">
          <div class="ver1">
  <table td-data-table style="width:100%;" cellspacing="0" cellpadding="0">
    <th class="first-column"></th>
    <th td-data-table-column
       *ngFor="let column of columns"
        [attr.name]="column.name"
        [attr.class]="column.class"
        [attr.sortable]="true"
        [attr.numeric]="false"
        (sortChange)="sort($event)">
        {{column.label}}
    </th>
    <ng-container *ngFor="let row of filteredData; let index=index; let odd=odd; let even=even;">
    <tr td-data-table-row  [ngClass]="{ odd: odd, even: even }">
      <td class="first-column">
          <a mat-mini-fab color="accent" (click)="openDialog(row)">
              <mat-icon>edit</mat-icon>
          </a>
      </td>
      <td td-data-table-cell>
        {{row['forename']}}
      </td>
      <td td-data-table-cell>
          {{row['surname']}}
      </td>
      <td td-data-table-cell>
          {{row['notes']}}
      </td>
      <td class="menu-choices" td-data-table-cell
       *ngFor="let column of menuChoiceColumns()" [attr.numeric]="column.numeric">
       <div class="menu-choices">
          <div class="add-menu-item">
              <a mat-mini-fab color="accent" (click)="addMenuItem(row, column)">
                  <mat-icon>add</mat-icon>
              </a>
            </div>
        <div class="menu-choices">
        <ul>
          <li *ngFor="let choice of row[column.name]">{{choice.name}}
              <button mat-icon-button (click)="deleteMenuItem(choice.id, row.id, column.name)"><mat-icon>delete</mat-icon></button>
          </li>
        </ul>
        </div>
      </div>
      </td>
    </tr>
  </ng-container>
  </table>
</div>
  </div>
  <div class="mat-padding" *ngIf="!data" layout="row" layout-align="center center">
    <h3>No results to display.</h3>
  </div>
  <!-- <td-paging-bar #pagingBar [pageSizes]="[5, 10, 15, 20]" [total]="filteredTotal" (change)="page($event)">
    <span td-paging-bar-label hide-xs>Row per page:</span>
    {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
  </td-paging-bar> -->
  </mat-card>
  <a mat-fab color="accent" class="mat-fab-bottom-right fixed" [routerLink]="['add']">
      <mat-icon>add</mat-icon>
  </a>
