
    <div id="container">
      <mat-card-title class="list-title">{{ menuChoiceHeader() }}</mat-card-title>
      <div id="body">
        <table td-data-table>
          <tr>
            <th td-data-table-column
                *ngFor="let column of columns"
                [attr.name]="column.name"
                [attr.sortable]="true"
                [attr.numeric]="false"
                [attr.class]="column.class"
                (sortChange)="sort($event)">
                {{column.label}}
            </th>
            <th></th>
            <th></th>
          </tr>
          <tr td-data-table-row *ngFor="let row of filteredData">
            <td td-data-table-cell >

                {{row['name']}}
                <div class="description-tooltip"  matTooltip="{{row['description']}}" style="float:right;">
                  <mat-icon>info</mat-icon>
                </div>
            </td>
            <td td-data-table-cell class="description-column" >
              {{row['description']}}
            </td>
            <td>
                <input matInput class="quantity" placeholder="Quantity" value="1" type="number" min="1"/>
            </td>
            <td>
               <button mat-raised-button color="primary" (click)="addMenuItem(row, $event)" class="push-bottom text-upper">Add</button>
            </td>
          </tr>
        </table>
        <div class="mat-padding" *ngIf="!tableData" layout="row" layout-align="center center">
          <h3>No results to display.</h3>
        </div>
        <mat-divider></mat-divider>
      </div>
    <div id="footer">
        <button mat-raised-button color="primary" (click)="cancel()" class="push-bottom text-upper">Close</button>
    </div>
  </div>


