.quantity {
  width: 40px;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#header {
  flex-shrink: 0;
}
#body{
  overflow-y: scroll;
  min-height: 2em;
  height:368px;
}
#footer{
  margin-top: 16px;
  flex-shrink: 0;
}

html {
  overflow-y: scroll;
}

@media screen and (max-width: 750px) {
  .description-column {
    display: none;
  }

  .description-tooltip {
    display: block;
  }
}

@media screen and (min-width: 750px) {
  .description-column {
    display: block;
  }

  .description-tooltip {
    display: none
  }

}

.example-tooltip-host {
  display: inline-flex;
  align-items: center;
  margin: 50px;
}

.description-tooltip {
  float: right;
}

