<td-layout #layout>
  <td-navigation-drawer flex sidenavTitle="Group Book It" logo="assets:teradata">
      <mat-nav-list>
        <ng-template let-item let-last="last" ngFor [ngForOf]="routes">
          <a mat-list-item tdLayoutToggle [routerLink]="[item.route]"><mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
        </ng-template>
      </mat-nav-list>
    </td-navigation-drawer>
    <td-layout-nav-list #navList [sidenavWidth]="'0px'">
        <div td-toolbar-content layout="row" layout-align="start center" flex>
          <div style="display: none;">
            <button mat-icon-button td-menu-button tdLayoutToggle>
                <mat-icon>menu</mat-icon>
              </button>
            </div>
            <span class="title">Group Book It</span>
          </div>
          <mat-sidenav-container>
                <router-outlet></router-outlet>
            </mat-sidenav-container>
      </td-layout-nav-list>
</td-layout>
