<td-layout>
  <td-navigation-drawer flex sidenavTitle="Group Book It" logo="assets:teradata">
      <mat-nav-list>
        <ng-template let-item let-last="last" ngFor [ngForOf]="routes">
          <a mat-list-item tdLayoutToggle [routerLink]="[item.route]"><mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
        </ng-template>
      </mat-nav-list>
    </td-navigation-drawer>
    <td-layout-nav logo="assets:teradata" toolbarTitle="Group Book It" navigationRoute="/">
      <button mat-icon-button td-menu-button tdLayoutToggle>
        <mat-icon>menu</mat-icon>
      </button>
      <router-outlet></router-outlet>
    </td-layout-nav>
</td-layout>
